*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    background: linear-gradient(45deg,rgb(7,117,190),rgb(243, 46, 121),rgb(174,48,212));
  }
  
  .container {
    
    width: 330px;
    margin-top: 7%;
    text-align: center;
    height:350px;
    background-color:rgba(60,61,63,0.6);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    padding: 50px;

    
    
  }
  
  .stopwatch {
    
    border-radius: 15px;
    box-sizing: 30px;
    padding: 10px;
    text-align: center;
  }
  
  #display {
    
    font-size: 38px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
    color: white;
  }
  
  .buttons {

    margin-top: 15%;
  }
  
  .buttons button {
    border: 2px solid #000;
    color: #fff;
    background-color: rgba(17,18,19,0.6);
    letter-spacing: 3.5px;
    padding: 10px;
    padding-right:5px;
    margin-left:5 px;
    row-gap: 2cm;
    border-radius: 25px;
    backdrop-filter: blur();
    transition: 0.5s;
  }
   .buttons button:hover{
    box-shadow: 0 0 1.5rem rgb(250,4,188);
    color:rgb(252,5,198);
    transform: translateY(-10px);
    cursor:pointer;
    transition: transform 120ms;
  }
  #laps{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    color:#fff;
    text-align: center;
    font-style: sans-serif;
  }

  